<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Leo - quiz buzzer</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>

    </script>
</head>

<body>
    <div class="mainContainer">
        <div class="siteHeading">LEO BUZZER</div>
        <div class="siteSubHeading">The quiz buzzer</div>
        <div class="teamNameContainer">Team: <span class="teamNameHolder"></span> </div>


        <div class="teamNameSubmitContainer">
            <input class="teamName" id="teamName" type="text" placeholder="Sisesta tiimi nimi" />
            <div class="submitNameButton" onClick="submitTeam()">SAADA TIIMI NIMI</div>
        </div>
        <div class="answerContainer">
        </div>
        <div class="answerButton">
            VASTA
        </div>

    </div>
    <div class="answersWrapper">
        <div class="answersContainer">
            <div class="answerHeading">VASTANUD</div>
            <div class="answerOrder">
            </div>
        </div>
    </div>
    <div class="date"></div>
    <div class="resetButton">
        RESET
    </div>
</body>
<script>
    let teamName = '';
    let answer = '';

    let HOST = location.origin.replace(/^http/, 'ws')
    let ws = new WebSocket(HOST);

    setWebsocketListeners(ws)

    const submitTeam = () => {
        teamName = $('.teamName').val();

        if (teamName) {
            $('.teamNameContainer').css({ visibility: 'visible' });
            $('.teamNameHolder').html(teamName);

            $('.teamNameSubmitContainer').css({ display: 'none' });
            $('.answerContainer').html('<input class="answer" id="answer" type="text" placeholder="Sisesta vastus" />');
            $('.answerButton').css({ display: 'block' });
        }
    }

    let answered = false;
    let isResetter = false;

    $(document).ready(function () {
        isResetter = window.location.pathname === "/resetter";

        if (isResetter) {
            $('.resetButton').css({ display: "flex" });
        }

        $('.answerButton').click(function (e) {
            answer = $('.answer').val();
            document.getElementById("answer").setAttribute('disabled', 'true')
            $('.answerButton').html('VASTUS SAADETUD');
            $('.answerButton').css({ "background-color": "#284034", "color": "#a8afa6" });

            if (!answered) {
                heartbeat(false);
                executeWithRetry(() => { ws.send(JSON.stringify({ answerer: teamName, answer })); }, 100);
                answered = true;
            }
        });

        $('.resetButton').click(function (e) {
            heartbeat(false);

            executeWithRetry(() => { ws.send(JSON.stringify({ reset: true })); }, 500);
        });
    });

    function executeWithRetry(func, retryTime) {
        try {
            func();
        } catch (err) {
            console.log(err);
            setTimeout(() => executeWithRetry(func, retryTime), retryTime)
        }
    }

    function setWebsocketListeners(ws) {
        ws.onopen = () => {
            console.log('Now connected');
        };
        ws.onmessage = (event) => {
            const parsedMessage = JSON.parse(event.data);

            if (parsedMessage.answerOrder) {
                $('.answerOrder').html();

                let answerOrder = '';

                parsedMessage.answerOrder.forEach((data, i) => {
                    const ordinaryMsg = (i + 1) + '. ' + data.teamName + '<br/>';
                    const resetterMsg = (i + 1) + '. ' + data.teamName + ' - "' + data.answer + '"<br/>';

                    if (isResetter) {
                        answerOrder += resetterMsg;
                    } else {
                        answerOrder += ordinaryMsg;
                    }
                })

                $('.answerOrder').html(answerOrder);
            }

            if (parsedMessage.reset) {
                if (teamName) {
                    $('.answerButton').css({ display: 'block' });
                    document.getElementById("answer").removeAttribute('disabled')
                    $('.answer').val('');
                    $('.answerButton').html('VASTA');
                    $('.answerButton').css({ "background-color": "#66a182", "color": "#f1faee" });
                    answered = false;
                }
            }
        };
    }


    function heartbeat(sendHeartbeat) {
        if (!ws) {
            ws = new WebSocket(HOST);
            setWebsocketListeners(ws)

            return;
        }
        if (ws.readyState !== 1) {
            ws = new WebSocket(HOST);
            setWebsocketListeners(ws)

            return;
        }

        if (sendHeartbeat) {
            ws.send(JSON.stringify({ heartbeat: true }));
        }
    }

    setInterval(() => heartbeat(true), 2000);



</script>

</html>