<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Leo 28 - quiz buzzer</title>
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/jquery.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>

    </script>
</head>

<body>
    <div class="container">
        <div class="siteHeading">LEO 28</div>
        <div class="siteSubHeading">The quiz buzzer</div>
        <div class="teamNameSubmitContainer">
            <input class="teamName" id="teamName" type="text" placeholder="Sisesta tiimi nimi" />
            <div class="submitNameButton" onClick="submitTeam()">SAADA TIIMI NIMI</div>
        </div>
        <div class="teamNameContainer">Team: <span class="teamNameHolder"></span>
        </div>
        <div class="answersWrapper">
            <div class="answerButton">
                VASTA
            </div>
            <div class="answersContainer">
                <div class="answerHeading">VASTANUD</div>
                <div class="answerOrder"></div>
            </div>
        </div>
        <div class="date"></div>
        <div class="resetButton">
            RESET
        </div>
    </div>
</body>
<script>
    let teamName = '';

    let HOST = location.origin.replace(/^http/, 'ws')
    let ws = new WebSocket(HOST);

    setWebsocketListeners(ws)

    const submitTeam = () => {
        teamName = $('.teamName').val();

        if (teamName) {
            $('.teamNameContainer').css({ display: 'block' });
            $('.teamNameHolder').html(teamName);

            $('.teamNameSubmitContainer').css({ display: 'none' });
            $('.answerButton').css({ display: 'block' });
        }
    }

    $(document).ready(function () {
        if (window.location.pathname === "/resetter") {
            console.log(window.location.pathname);
            
            $('.resetButton').css({ display: "flex" });
        }


        $('.answerButton').click(function (e) {
            $('.answerButton').css({ display: 'none' });
            heartbeat(false);

            executeWithRetry(() => { ws.send(JSON.stringify({ answerer: teamName })); }, 100);
        });

        $('.resetButton').click(function (e) {
            heartbeat(false);

            executeWithRetry(() => { ws.send(JSON.stringify({ reset: true })); }, 500);
        });
    });

    function executeWithRetry(func, retryTime) {
        try {
            func();
        } catch (err) {
            console.log(err);
            setTimeout(() => executeWithRetry(func, retryTime), retryTime)
        }
    }

    function setWebsocketListeners(ws) {
        ws.onopen = () => {
            console.log('Now connected');
        };
        ws.onmessage = (event) => {
            const parsedMessage = JSON.parse(event.data);

            if (parsedMessage.answerOrder) {
                $('.answerOrder').html();

                let answerOrder = '';
                parsedMessage.answerOrder.forEach((teamName, i) => {
                    answerOrder += (i + 1) + '. ' + teamName + '<br/>';
                })

                $('.answerOrder').html(answerOrder);
            }

            if (parsedMessage.reset) {
                if (teamName) {
                    $('.answerButton').css({ display: 'block' });
                }
            }

            // if (parsedMessage.date) {
            //     const currentData = $('.date').html();
            //     $('.date').html(currentData + "<br/>" + parsedMessage.date)

            // }
        };
    }


    function heartbeat(sendHeartbeat) {
        if (!ws) {
            ws = new WebSocket(HOST);
            setWebsocketListeners(ws)

            return;
        }
        if (ws.readyState !== 1) {
            ws = new WebSocket(HOST);
            setWebsocketListeners(ws)

            return;
        }

        if (sendHeartbeat) {
            ws.send(JSON.stringify({ heartbeat: true }));
        }
    }

    setInterval(() => heartbeat(true), 2000);



</script>

</html>